@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
body{
    overflow-x: hidden;
    font-family: sans-serif;
    color: #505962;
}


.offset::before{
    display: block;
    content:"";
    height: 4rem;
    margin-top: -4rem;
}


/* ----Navagation---- */
.navbar{
    text-transform: uppercase; 
    font-weight: 700;
    font-size: .9rem;  
    letter-spacing: .1rem;
    background:rgba(0, 0, 0, 0.6)!important;
}
.navbar-brand img{
    height: 7rem;
    width: 10rem;
}
.navbar-nav li{
    padding-right:.7rem ;
}
.navbar-dark .navbar-nav .nav-link{
    color: #fff;
    padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link .active,
.navbar-dark .navbar-nav .nav-link:hover{
    color: #1ebba3;
}
/* ---- Landing Page ---- */
.home-inner{
    background-image: url(img/computers.png);
}
.caption{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
    color: #fff;
    text-transform: uppercase;
}
.caption h1{
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
}
.caption h3{
    font-size: 2rem;
    text-shadow: .1rem .1rem .5rem black ;
    padding-bottom: 1.6rem;
}
.btn-lg{
    border-width: medium;
    border-radius: 0;
    padding: .6rem 1.3rem;
    font-size: 1.1rem;
}
ion-icon{
    font-size:  100px;
    color: #1ebba3;
    margin-left:  200px; ;
}
.client-icon{
    font-size: 43px;
    color: #1ebba3;
}
.contact-icon{
    font-size: 1.6rem;
    margin: 1.2rem .5rem 0 0;
    color: white;
}
.contact-icon:hover{
    font-size: 1.6rem;
    margin: 1.2rem .5rem 0 0;
    color: #1ebba3!important;
}


/* ---- course section ---- */
.narrow{
    width:  75%;
    margin: 1.5rem auto;
    padding-top: 2rem;
}
.narrow h1{
       font-size: 2.4rem;
}
.btn-secondary{
    border-width: medium;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: .6rem 1.2rem   ;
    margin: 1rem;
    color: white;
    background-color: #1ebba3;
    border-color: #1ebba3;
}
.btn-secondary:hover{

    background-color: #189582;
    border-color: #189582;
}

/* ---- features  section ---- */
.jumbotron{
     margin-bottom: 0;
     padding: 2rem 0 3.5rem;
    border-radius: 0;
}
h3.heading{
   font-size: 1.9rem;
   font-weight: 700;
   text-transform: uppercase;
   margin-bottom: 1.9rem;
}
.heading-underline{
   width: 3rem;
   height: 2rem;
   border-color: #1ebba3;
   margin: 0 auto 2rem;
}
.feature h3{
    /* direction: rtl; */
    font-size: 1.3rem;
    text-transform: uppercase;
    padding-bottom: .4rem;
    /* margin-left: 1px; */
}
.feature p{
    font-size: 1.1rem;
}
/* ---- Resources  section ---- */
.fixed-background{
    margin-left: 200px ;
}
.fixed-background p{
    margin-left: 445px;
}
/* .fixed{ 
    background-image: url(img/apple.jpg);
    z-index: -1;
}
.dark{
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 7rem 2rem ;
}
.fixed-background h3{
    margin-bottom: 2rem;
     
}
.fixed-background p{
     margin-top: 1.5rem;
} */

/* ---- Clients section ---- */

.clients img{
    width: 100%;
    border-radius: 50%;
}
blockquote .svg-inline--fa{
    /* direction: rtl; */
    color: #1ebba3;
    margin: 1rem;
}
.clients-hr{
    border-top: .05rem solid #1ebba3;
}
/* ---- Contact section ---- */
footer{
    background-color: #40474e;
    color: white;
    padding: 2rem 0 2rem ;
    margin-top: 1rem;
}
footer img{
    height: 3rem;
    margin: 1.5rem 0 ;
}
footer a{
    color: white;
}
footer svg.svg-inline--fa{
    font-size: 1.6rem;

}
hr.socket{
    width: 100%;
    border-top: .2rem solid #666b71;
    margin-top: 3rem;
}

/* ---- Media Queries ---- */
@media (max-width:767px){
.caption h1{
        font-size: 2.3rem;
        letter-spacing: .15rem;
        padding-bottom: .5rem;
    }
.caption h3{
        font-size: 1.2rem;;
        padding-bottom: 1.2rem;
    }
.btn-lg{
        padding: .5rem 1rem;
        font-size: 1rem;
    }
    .narrow h1{
        font-size: 1.5rem;
 }
 .clients img{
     max-width: 50%;
     display: block;
     margin: 0   auto;
}
}