*{
  /* background-color: gray; */
  background-image: url(img/computers.png);
  /* z-index: -1; */
}
body {margin:0;font-family:Arial}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  direction: rtl;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
.i1{
  /* padding: .1rem; */
    /* background-color: black; */
    border-radius: 80%;
    width: 20%;
    text-align: right;
    display: block;
    
}
.i2{
  padding: .1rem;
  /* background-color: black; */
    width: 20%;
    border-radius: 10rem;
    display: block;
    margin-left: 829px;
    margin-top: -313px;

}
.i3{
  padding: .1rem;
  /* background-color: black; */
  width: 20%;
    border-radius: 10rem;
    display: block;
    margin-left: 411px;
    margin-top: -313px;
}
.i4{
  padding: .1rem;
  /* background-color: black; */
  width: 20%;
    border-radius: 10rem;
    display: block;
    margin-left: 1241px;
margin-top: -326px;

}
.i5{
  padding: .1rem;
  /* background-color: black; */
  width: 20%;
    border-radius: 10rem;   
     display: block;
    margin-top: 50px;

} 
.i6{
  padding: .1rem;
  /* background-color: black; */
  width: 18%;
    border-radius: 10rem; 
       display: block;
       margin-left: 411px;
       margin-top: -320px;

}
.link1{

  direction: rtl;
}
.link2{
  direction: rtl;
  
}
.h2{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  direction: rtl;
}
.p1{
  color: white;
  direction: rtl;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.background{
  position: relative;
  background-color: black;
  background-image: url(img/back2.webp);
  width: 100%;
  
}

.dropdown-menu{
  direction: rtl;
}
.p1{
  display: block;
  margin-top: 10px;

}
